<p>
  <b>Date:</b>
  <%=h @tube_mill_stoppage_report.date %>
</p>

<p>
  <b>Shift:</b>
  <%=h @tube_mill_stoppage_report.shift %>
</p>

<p>
  <b>Size:</b>
  <%=h @tube_mill_stoppage_report.size %>
</p>

<p>
  <b>Customer:</b>
  <%=h @tube_mill_stoppage_report.customer %>
</p>

<p>
  <b>Description of breakdown:</b>
  <%=h @tube_mill_stoppage_report.description_of_breakdown %>
</p>

<p>
  <b>Type:</b>
  <%=h @tube_mill_stoppage_report.type %>
</p>

<p>
  <b>Stoppage code:</b>
  <%=h @tube_mill_stoppage_report.stoppage_code %>
</p>

<p>
  <b>From:</b>
  <%=h @tube_mill_stoppage_report.from %>
</p>

<p>
  <b>To:</b>
  <%=h @tube_mill_stoppage_report.to %>
</p>

<p>
  <b>Total time:</b>
  <%=h @tube_mill_stoppage_report.total_time %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @tube_mill_stoppage_report.remarks %>
</p>

<p>
  <b>Electrical maintainence:</b>
  <%=h @tube_mill_stoppage_report.electrical_maintainence %>
</p>

<p>
  <b>Mechanical maintainence:</b>
  <%=h @tube_mill_stoppage_report.mechanical_maintainence %>
</p>

<p>
  <b>Operational:</b>
  <%=h @tube_mill_stoppage_report.operational %>
</p>

<p>
  <b>Roll change:</b>
  <%=h @tube_mill_stoppage_report.roll_change %>
</p>

<p>
  <b>Raw material shortage:</b>
  <%=h @tube_mill_stoppage_report.raw_material_shortage %>
</p>

<p>
  <b>Man power shortage:</b>
  <%=h @tube_mill_stoppage_report.man_power_shortage %>
</p>

<p>
  <b>Crane delay:</b>
  <%=h @tube_mill_stoppage_report.crane_delay %>
</p>

<p>
  <b>Power failure:</b>
  <%=h @tube_mill_stoppage_report.power_failure %>
</p>

<p>
  <b>Remarks last:</b>
  <%=h @tube_mill_stoppage_report.remarks_last %>
</p>

<p>
  <b>Shift incharge:</b>
  <%=h @tube_mill_stoppage_report.shift_incharge %>
</p>


<%= link_to 'Edit', edit_tube_mill_stoppage_report_path(@tube_mill_stoppage_report) %> |
<%= link_to 'Back', tube_mill_stoppage_reports_path %>
