<div class="gridDiv">
  <div class="titleHead">Listing Tube Mill Performance Reports</div>
  <div class="gryBox">
    <div class="linkOuter w45 fr txtR mt5">
      <%= link_to 'New RawMaterial Category', new_tube_mill_performance_report_path %>
    </div><br class="clear" />
    <div id="contacts">
      <div id="contact_list" class="contactsDIV">
        <div class="gridTable">
<table>
  <tr>
    <th>Lot no</th>
    <th>Customer</th>
    <th>Od width</th>
    <th>Id height</th>
    <th>Thickness</th>
    <th>Length</th>
    <th>Id fin height</th>
    <th>Drifting</th>
    <th>Flattening</th>
    <th>Specification</th>
    <th>Rm grade</th>
    <th>Slitting production coil no</th>
    <th>Spl requirement</th>
    <th>Date</th>
    <th>Shift</th>
    <th>Operator name</th>
    <th>Inspector name</th>
    <th>Open</th>
    <th>Joint</th>
    <th>Tool mark</th>
    <th>Roll mark</th>
    <th>Pick up</th>
    <th>Scratch</th>
    <th>Week weld</th>
    <th>Bend</th>
    <th>Nf c</th>
    <th>Remarks</th>
    <th>Lot num</th>
    <th>Action</th>
  </tr>

<% for tube_mill_performance_report in @tube_mill_performance_reports %>
  <tr class="<%=cycle("bg1", "bg2")%>">
    <td><%=h tube_mill_performance_report.lot_no %></td>
    <td><%=h tube_mill_performance_report.customer.name %></td>
    <td><%=h tube_mill_performance_report.od_width %></td>
    <td><%=h tube_mill_performance_report.id_height %></td>
    <td><%=h tube_mill_performance_report.thickness %></td>
    <td><%=h tube_mill_performance_report.length %></td>
    <td><%=h tube_mill_performance_report.id_fin_height %></td>
    <td><%=h tube_mill_performance_report.drifting %></td>
    <td><%=h tube_mill_performance_report.flattening %></td>
    <td><%=h tube_mill_performance_report.specification %></td>
    <td><%=h tube_mill_performance_report.rm_grade %></td>
    <td><%=h tube_mill_performance_report.slittingproduction.slitting_coil_no %></td>
    <td><%=h tube_mill_performance_report.spl_requirement %></td>
    <td><%=h tube_mill_performance_report.date %></td>
    <td><%=h tube_mill_performance_report.shift %></td>
    <td><%=h tube_mill_performance_report.operator_name %></td>
    <td><%=h tube_mill_performance_report.inspector_name %></td>
    <td><%=h tube_mill_performance_report.open %></td>
    <td><%=h tube_mill_performance_report.joint %></td>
    <td><%=h tube_mill_performance_report.tool_mark %></td>
    <td><%=h tube_mill_performance_report.roll_mark %></td>
    <td><%=h tube_mill_performance_report.pick_up %></td>
    <td><%=h tube_mill_performance_report.scratch %></td>
    <td><%=h tube_mill_performance_report.week_weld %></td>
    <td><%=h tube_mill_performance_report.bend %></td>
    <td><%=h tube_mill_performance_report.nf_c %></td>
    <td><%=h tube_mill_performance_report.remarks %></td>
    <td><%=h tube_mill_performance_report.lot_numbers %></td>
     <td>
      <div class="fr" style="float:left;">
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_tube_mill_performance_report_path(tube_mill_performance_report) )%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}),tube_mill_performance_report, :confirm => 'Are you sure?', :method => :delete) %>
        </div>
</td>
  </tr>
<% end %>
</table>
</div>
      </div></div></div></div>
<br />

