<p>
  <b>Lot no:</b>
  <%=h @tube_mill_performance_report.lot_no %>
</p>

<p>
  <b>Customer:</b>
  <%=h @tube_mill_performance_report.customer_id %>
</p>

<p>
  <b>Od width:</b>
  <%=h @tube_mill_performance_report.od_width %>
</p>

<p>
  <b>Id height:</b>
  <%=h @tube_mill_performance_report.id_height %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @tube_mill_performance_report.thickness %>
</p>

<p>
  <b>Length:</b>
  <%=h @tube_mill_performance_report.length %>
</p>

<p>
  <b>Id fin height:</b>
  <%=h @tube_mill_performance_report.id_fin_height %>
</p>

<p>
  <b>Drifting:</b>
  <%=h @tube_mill_performance_report.drifting %>
</p>

<p>
  <b>Flattening:</b>
  <%=h @tube_mill_performance_report.flattening %>
</p>

<p>
  <b>Specification:</b>
  <%=h @tube_mill_performance_report.specification %>
</p>

<p>
  <b>Rm grade:</b>
  <%=h @tube_mill_performance_report.rm_grade %>
</p>

<p>
  <b>Slitting production:</b>
  <%=h @tube_mill_performance_report.slitting_production_id %>
</p>

<p>
  <b>Spl requirement:</b>
  <%=h @tube_mill_performance_report.spl_requirement %>
</p>

<p>
  <b>Date:</b>
  <%=h @tube_mill_performance_report.date %>
</p>

<p>
  <b>Shift:</b>
  <%=h @tube_mill_performance_report.shift %>
</p>

<p>
  <b>Operator name:</b>
  <%=h @tube_mill_performance_report.operator_name %>
</p>

<p>
  <b>Inspector name:</b>
  <%=h @tube_mill_performance_report.inspector_name %>
</p>

<p>
  <b>Open:</b>
  <%=h @tube_mill_performance_report.open %>
</p>

<p>
  <b>Joint:</b>
  <%=h @tube_mill_performance_report.joint %>
</p>

<p>
  <b>Tool mark:</b>
  <%=h @tube_mill_performance_report.tool_mark %>
</p>

<p>
  <b>Roll mark:</b>
  <%=h @tube_mill_performance_report.roll_mark %>
</p>

<p>
  <b>Pick up:</b>
  <%=h @tube_mill_performance_report.pick_up %>
</p>

<p>
  <b>Scratch:</b>
  <%=h @tube_mill_performance_report.scratch %>
</p>

<p>
  <b>Week weld:</b>
  <%=h @tube_mill_performance_report.week_weld %>
</p>

<p>
  <b>Bend:</b>
  <%=h @tube_mill_performance_report.bend %>
</p>

<p>
  <b>Nf c:</b>
  <%=h @tube_mill_performance_report.nf_c %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @tube_mill_performance_report.remarks %>
</p>

<p>
  <b>Lot numbers:</b>
  <%=h @tube_mill_performance_report.lot_numbers %>
</p>


<%= link_to 'Edit', edit_tube_mill_performance_report_path(@tube_mill_performance_report) %> |
<%= link_to 'Back', tube_mill_performance_reports_path %>
