<div class="gridDiv">
  <div class="titleHead">Listing SalesPlans</div>
  <div class="gryBox">
    <div class="linkOuter w45 fr txtR mt5">
      <%= link_to 'New salesplan', new_salesplan_path %>
    </div><br class="clear" />
    <div id="contacts">
      <div id="contact_list" class="contactsDIV">
        <div class="gridTable">
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <th>Po no</th>
    <th>Customer name</th>
    <th>Customer</th>
    <th>Tube size</th>
    <th>Serialize</th>
    <th>Quantity</th>
    <th>Customer code</th>
    <th>Pieces</th>
    <th>Meter</th>
    <th>Kilos</th>
    <th>Action</th>
  </tr>

<% for salesplan in @salesplans %>
  <tr>
    <td><%=h salesplan.po_no %></td>
    <td><%=h salesplan.customer_name %></td>
    <td><%=h salesplan.customer_id %></td>
    <td><%=h salesplan.tube_size %></td>
    <td><%=h salesplan.serialize_id %></td>
    <td><%=h salesplan.quantity %></td>
    <td><%=h salesplan.customer_code %></td>
    <td><%=h salesplan.pieces %></td>
    <td><%=h salesplan.meter %></td>
    <td><%=h salesplan.kilos %></td>
    <td>
        <div class="fr" style="float:left;">
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_salesplan_path(salesplan))%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate",:border => 0, :hspace => "2"}), salesplan, :confirm => 'Are you sure?', :method => :delete) %>
        </div>
      </td>
  </tr>
<% end %>
</table>
          </div>
      </div></div></div></div>

<br />


