<p>
  <b>Po no:</b>
  <%=h @salesplan.po_no %>
</p>

<p>
  <b>Customer name:</b>
  <%=h @salesplan.customer_name %>
</p>

<p>
  <b>Customer:</b>
  <%=h @salesplan.customer_id %>
</p>

<p>
  <b>Tube size:</b>
  <%=h @salesplan.tube_size %>
</p>

<p>
  <b>Serialize:</b>
  <%=h @salesplan.serialize_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @salesplan.quantity %>
</p>

<p>
  <b>Customer code:</b>
  <%=h @salesplan.customer_code %>
</p>

<p>
  <b>Pieces:</b>
  <%=h @salesplan.pieces %>
</p>

<p>
  <b>Meter:</b>
  <%=h @salesplan.meter %>
</p>

<p>
  <b>Kilos:</b>
  <%=h @salesplan.kilos %>
</p>


<%= link_to 'Edit', edit_salesplan_path(@salesplan) %> |
<%= link_to 'Back', salesplans_path %>
