<p>
  <b>Date:</b>
  <%=h @uncoiler_report.date %>
</p>

<p>
  <b>Shift:</b>
  <%=h @uncoiler_report.shift %>
</p>

<p>
  <b>Operator name:</b>
  <%=h @uncoiler_report.operator_name %>
</p>

<p>
  <b>Slittingproduction:</b>
  <%=h @uncoiler_report.slittingproduction_id %>
</p>

<p>
  <b>Tube od:</b>
  <%=h @uncoiler_report.tube_od %>
</p>

<p>
  <b>Width:</b>
  <%=h @uncoiler_report.width %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @uncoiler_report.thickness %>
</p>

<p>
  <b>Grade:</b>
  <%=h @uncoiler_report.grade %>
</p>

<p>
  <b>Type:</b>
  <%=h @uncoiler_report.type %>
</p>

<p>
  <b>Width actual:</b>
  <%=h @uncoiler_report.width_actual %>
</p>

<p>
  <b>Thickness actual:</b>
  <%=h @uncoiler_report.thickness_actual %>
</p>

<p>
  <b>Grade actual:</b>
  <%=h @uncoiler_report.grade_actual %>
</p>

<p>
  <b>Type actual:</b>
  <%=h @uncoiler_report.type_actual %>
</p>


<%= link_to 'Edit', edit_uncoiler_report_path(@uncoiler_report) %> |
<%= link_to 'Back', uncoiler_reports_path %>
