<p>
  <b>Rawmaterial:</b>
  <%=h @slitting.rawmaterial_id %>
</p>

<p>
  <b>Coil width:</b>
  <%=h @slitting.coil_width %>
</p>

<p>
  <b>Coil weight:</b>
  <%=h @slitting.coil_weight %>
</p>

<p>
  <b>Side trim:</b>
  <%=h @slitting.side_trim %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @slitting.thickness %>
</p>

<p>
  <b>Scrap:</b>
  <%=h @slitting.scrap %>
</p>

<p>
  <b>Slit width:</b>
  <%=h @slitting.slit_width %>
</p>

<p>
  <b>Slit weight:</b>
  <%=h @slitting.slit_weight %>
</p>

<p>
  <b>No of slits:</b>
  <%=h @slitting.no_of_slits %>
</p>

<p>
  <b>Weight:</b>
  <%=h @slitting.weight %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @slitting.remarks %>
</p>


<%= link_to 'Edit', edit_slitting_path(@slitting) %> |
<%= link_to 'Back', slittings_path %>
