<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Customers: <%= controller.action_name %></title>
    <%=stylesheet_link_tag "style_livia.css"%>
    <%=stylesheet_link_tag "jquery/cupertino/jquery-ui-1.7.2.custom.css"%>
    <%=stylesheet_link_tag "jquery/facebox.css"%>
    <%=stylesheet_link_tag "jquery/jquery.autocomplete.css"%>
    <%=stylesheet_link_tag 'style_livia_calendar.css' %>
    <%=javascript_include_tag "jquery-1.3.2.js","application.js"%>
    <%=javascript_include_tag 'jquery/jquery.ba-url.js','pagination.js'%>
    <%= javascript_include_tag "jquery/datepicker/ui.core.js"%>
    <%= javascript_include_tag "jquery/datepicker/ui.datepicker.js"%>
    <%= javascript_include_tag "ui.tabs.js"%>
    <%= javascript_include_tag "jquery/facebox.js"%>
    <%= javascript_include_tag "jquery/jquery-hint.js"%>
    <%= javascript_include_tag "jquery/jquery.bgiframe.min.js"%>
    <%= javascript_include_tag "jquery/jquery.ajaxQueue.js"%>
    <%= javascript_include_tag "jquery/jquery.autocomplete.js"%>
    <%= javascript_include_tag 'livia_common.js'%>
</head>
<body>
  <div class="contentDiv">
    <div class="headerDiv">
<%=render :partial =>'layouts/header'%>
<%=render :partial =>'layouts/header_tabs'%>
        <br class="clear" />
      </div>
<div class="mainContent">
    <p style="color: green"><%= flash[:notice] %></p>
  <%= yield  %>
</div>
    <div class="clear"></div>
    <br class="clear"/>
</div>
</body>
</html>
