<p>
  <b>Rawmaterial:</b>
  <%=h @slittingproduction.rawmaterial_id %>
</p>

<p>
  <b>Slitting:</b>
  <%=h @slittingproduction.slitting_id %>
</p>

<p>
  <b>Shift:</b>
  <%=h @slittingproduction.shift %>
</p>

<p>
  <b>Operator name:</b>
  <%=h @slittingproduction.operator_name %>
</p>

<p>
  <b>Source:</b>
  <%=h @slittingproduction.source %>
</p>

<p>
  <b>Input weight:</b>
  <%=h @slittingproduction.input_weight %>
</p>

<p>
  <b>Width:</b>
  <%=h @slittingproduction.width %>
</p>

<p>
  <b>Thickness:</b>
  <%=h @slittingproduction.thickness %>
</p>

<p>
  <b>Grade:</b>
  <%=h @slittingproduction.grade %>
</p>

<p>
  <b>Type:</b>
  <%=h @slittingproduction.type %>
</p>

<p>
  <b>Width slitting:</b>
  <%=h @slittingproduction.width_slitting %>
</p>

<p>
  <b>No of slits slitting:</b>
  <%=h @slittingproduction.no_of_slits_slitting %>
</p>

<p>
  <b>Slit coil weight:</b>
  <%=h @slittingproduction.slit_coil_weight %>
</p>

<p>
  <b>Slit weight:</b>
  <%=h @slittingproduction.slit_weight %>
</p>

<p>
  <b>Scrap weight:</b>
  <%=h @slittingproduction.scrap_weight %>
</p>

<p>
  <b>Remarks:</b>
  <%=h @slittingproduction.remarks %>
</p>


<%= link_to 'Edit', edit_slittingproduction_path(@slittingproduction) %> |
<%= link_to 'Back', slittingproductions_path %>
