<h1>Listing rawmaterials</h1>

<table cellspacing="0" cellpadding="0" width="100%" border="1 ">
  <tr>
    <th>Name</th>
    <th>Grade</th>
    <th>Width</th>
    <th>Thickness</th>
    <th>Coil weight</th>
    <th>Grade</th>
    <th>Type</th>
    <th>Rawmaterial category</th>
  </tr>

<% for rawmaterial in @rawmaterials %>
  <tr>
    <td><%=h rawmaterial.name %></td>
    <td><%=h rawmaterial.grade %></td>
    <td><%=h rawmaterial.width %></td>
    <td><%=h rawmaterial.thickness %></td>
    <td><%=h rawmaterial.coil_weight %></td>
    <td><%=h rawmaterial.grade %></td>
    <td><%=h rawmaterial.type %></td>
    <td><%=h rawmaterial.rawmaterial_category_id %></td>
    <td><%= link_to 'Show', rawmaterial %></td>
    <td><%= link_to 'Edit', edit_rawmaterial_path(rawmaterial) %></td>
    <td><%= link_to 'Destroy', rawmaterial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rawmaterial', new_rawmaterial_path %>
