<h1>New rawmaterial</h1>

<% form_for(@rawmaterial) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :thickness %><br />
    <%= f.text_field :thickness %>
  </p>
  <p>
    <%= f.label :coil_weight %><br />
    <%= f.text_field :coil_weight %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    Rawmaterial
   <%=f.collection_select( :rawmaterial_category_id, RawmaterialCategory.all,:id,:name,{:include_blank => "----------Select----------"})%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', rawmaterials_path %>
