<div class="gridDiv">
  <div class="titleHead">Listing Customers</div>
  <div class="gryBox">
    <div class="linkOuter w45 fr txtR mt5">
      <%= link_to 'New Customer', new_customer_path %>
    </div><br class="clear" />
    <div id="contacts">
      <div id="contact_list" class="contactsDIV">
        <div class="gridTable">
<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact person</th>
    <th>Phone</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Excise registration no</th>
    <th>Vat no</th>
    <th>Tin no</th>
    <th>Pan no</th>
    <th>Payment terms</th>
    <th>Bankers</th>
    <th>Action</th>
  </tr>
<% for customer in @customers %>
  <tr class="<%=cycle("bg1", "bg2")%>">
    <td><%=h customer.name %></td>
    <td><%=h customer.address %></td>
    <td><%=h customer.contact_person %></td>
    <td><%=h customer.phone %></td>
    <td><%=h customer.mobile %></td>
    <td><%=h customer.email %></td>
    <td><%=h customer.excise_registration_no %></td>
    <td><%=h customer.vat_no %></td>
    <td><%=h customer.tin_no %></td>
    <td><%=h customer.pan_no %></td>
    <td><%=h customer.payment_terms %></td>
    <td><%=h customer.bankers %></td>
    <td>
        <div class="fr">
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_customer_path(customer))%>
          <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate", :confirm => 'Are you sure?',:border => 0, :hspace => "2"}), :method => :delete) %>
        </div>
      </td>
  </tr>
<% end %>
</table>
 </div>
      </div></div></div></div>
<br />


