<h1>New customer_order</h1>

<% form_for(@customer_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tube_size %><br />
    <%= f.text_field :tube_size %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :specification %><br />
    <%= f.text_field :specification %>
  </p>
  <p>
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </p>
 
  <p>
    Customer Name
   <%=collection_select(:customer, :customer_name, Customer.all,:id,:name,{:include_blank => "----------Select----------"})%>
  </p>

  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :unit_of_measure %><br />
    <%= f.text_field :unit_of_measure %>
  </p>
  <p>
    <%= f.label :tital_weight %><br />
    <%= f.text_field :tital_weight %>
  </p>
  <p>
    <%= f.label :rate_per_kilo %><br />
    <%= f.text_field :rate_per_kilo %>
  </p>
  <p>
    <%= f.label :total_amount %><br />
    <%= f.text_field :total_amount %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :office_address %><br />
    <%= f.text_field :office_address %>
  </p>
  <p>
    <%= f.label :vat_no %><br />
    <%= f.text_field :vat_no %>
  </p>
  <p>
    <%= f.label :ecc_no %><br />
    <%= f.text_field :ecc_no %>
  </p>
  <p>
    <%= f.label :delivery_address %><br />
    <%= f.text_field :delivery_address %>
  </p>
  <p>
    <%= f.label :po_no %><br />
    <%= f.text_field :po_no %>
  </p>
  <p>
    Serial
   <%=collection_select(:customer, :serialize, Serialize.all,:id,:name,{:include_blank => "----------Select----------"})%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', customer_orders_path %>
