<p>
  <b>Tube size:</b>
  <%=h @customer_order.tube_size %>
</p>

<p>
  <b>Grade:</b>
  <%=h @customer_order.grade %>
</p>

<p>
  <b>Specification:</b>
  <%=h @customer_order.specification %>
</p>

<p>
  <b>Unit price:</b>
  <%=h @customer_order.unit_price %>
</p>

<p>
  <b>Customer:</b>
  <%=h @customer_order.customer_id %>
</p>

<p>
  <b>Serialize:</b>
  <%=h @customer_order.serialize_id %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @customer_order.quantity %>
</p>

<p>
  <b>Unit of measure:</b>
  <%=h @customer_order.unit_of_measure %>
</p>

<p>
  <b>Tital weight:</b>
  <%=h @customer_order.tital_weight %>
</p>

<p>
  <b>Rate per kilo:</b>
  <%=h @customer_order.rate_per_kilo %>
</p>

<p>
  <b>Total amount:</b>
  <%=h @customer_order.total_amount %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer_order.email %>
</p>

<p>
  <b>Office address:</b>
  <%=h @customer_order.office_address %>
</p>

<p>
  <b>Vat no:</b>
  <%=h @customer_order.vat_no %>
</p>

<p>
  <b>Ecc no:</b>
  <%=h @customer_order.ecc_no %>
</p>

<p>
  <b>Delivery address:</b>
  <%=h @customer_order.delivery_address %>
</p>

<p>
  <b>Po no:</b>
  <%=h @customer_order.po_no %>
</p>


<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
<%= link_to 'Back', customer_orders_path %>
