<h1>Listing serializes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for serialize in @serializes %>
  <tr>
    <td><%=h serialize.name %></td>
    <td><%= link_to 'Show', serialize %></td>
    <td><%= link_to 'Edit', edit_serialize_path(serialize) %></td>
    <td><%= link_to 'Destroy', serialize, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New serialize', new_serialize_path %>
